<div class="card">
  <div class="card-body my-1">
    <div>
      <b><%= t(".title") %></b>
      <p>
        <%= @badge.title %>
      </p>
    </div>
    <div>
      <b><%= t(".image_path") %></b>
      <p>
        <%= @badge.image_path %>
      </p>
    </div>
    <div>
      <b><%= t(".rule") %></b>
      <p>
        <%= @badge.rule_label %>
      </p>
    </div>
    <div>
      <b><%= t(".value") %></b>
      <p>
        <%= @badge.value %>
      </p>
    </div>
  </div>
</div>
