<p class="mt-5"> <%= t(".passing", test: @test_passage.test.title) %> </p>
<h1>
  <%= @test_passage.current_question.body %>
</h1>
<p>
  <%= t(".question_of", one: @test_passage.current_question_number, two: @test_passage.test.questions.size)%>
</p>
<hr class="mb-3 mt-4">
<%= form_with(url: test_passage_path(@test_passage), local: true, method: :put) do |form| %>
  <p class="mb-2"> <%= t(".choice") %> </p>
  <div class="row">
    <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <div class="col-sm-6">
        <div class="card mb-3 card-checkbox">
          <div class="card-body">
            <%= b.check_box id: "answer_ids_#{b.object.id}", class: "hide" %>
            <%= b.label%>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <hr class="mb-4 mt-3">
  
  <%= form.submit t(".next_question"), class: "btn btn-primary"  %>
  <%= link_to t(".gist_question"), gist_test_passage_path(@test_passage), method: :post, class: "ml-3" %>
<% end %>
