<div class="row mx-0">
  <div class="container mt-5">
    <% if @test_passage.success? %>
      <h1>
        <%= t(".passed_header", test: @test_passage.test.title) %>
      </h1>
      <p>
        <%= t(".passed_text") %>
      </p>
    <% else %>
      <h1>
        <%= t(".failed_header", test: @test_passage.test.title) %>
      </h1>
      <p>
        <%= t(".failed_text") %>
      </p>
    <% end %>
    <b>
      <%= t(".correct", percent: @test_passage.current_questions_percent.to_i)  %>
    </b>
    <% if @test_passage.badges.present? %>
      <p class="card-text"><%= t('.badges') %></p>
      <p class="card-text">
        <% @test_passage.badges.each do |badge| %>
          <span class="badge badge-info"><%= badge.title %></span>
        <% end %>
      </p>
    <% end %>
    <hr>
    <%= link_to t('.btn'), tests_path, class: "btn btn-primary mt-3" %>
  </div>
</div>
