<div class="row mx-0">
  <div class="container mt-5">
    <h1 class="mb-4"> <%= @question.body %> </h1>
    <% if @question.valid_count? %>
      <%= link_to t(".new_answer"), new_admin_question_answer_path(@question), class: "btn btn-primary mb-3" %>
    <% end %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-1"> <%= t(".number") %> </th>
          <th> <%= t(".answer") %> </th>
          <th class="text-center col-3" colspan="3" ><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <%= render @question.answers %>
      </tbody>
    </table>
    <div class="mx-autos mt-4">
      <%= link_to t("buttons.back"), admin_test_path(@question.test), class: "btn btn-secondary" %>
      <%= link_to t("buttons.edit"), edit_admin_question_path, class: "ml-3" %>
    </div>
  </div>
</div>
