<% @tests.each do |test| %>
  <tr>
    <td>
      <%= content_tag :span, test.title, class: "test-title", data: { test_id: test.id } %>
      <%= render "form_inline", test: test == @test ? @test : test %>
    </td>
    <td><%= test_level(test) %></td>
    <td> <%= test.category.title %> </td>
    <td> <%= "#{test.author.first_name} #{test.author.last_name}"%> </td>
    <td> <%= test.questions.count %> </td>
    <td><%= link_to t('buttons.show'), admin_test_path(test)%></td>
    <td>
    <%= link_to t('buttons.edit'), edit_admin_test_path(test),
                            data: { test_id: test.id },
                            class: "form-inline-btn"%>
    </td>
    <td><%= link_to t('buttons.delete'), 
            admin_test_path(test),
            method: :delete, 
            data: { confirm: t('.confirm')

    } %></td>
  </tr>
<% end %>
